* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
}

header, nav, main, footer, aside, section, article, a {
    display: block;
}

.wrapper {
    margin: 150px auto 0 auto;
    width: 450px;
    height: 200px;
    border: 2px solid darkred;
}

body {
    color: #ffffff;
    background: url('../images/bg2.png') no-repeat;
    background-size: cover;
    padding: 5px;
}

h3 {
    border-radius: 10px;
    margin-right: 8px;
    border: 1px solid #ffffff;
    text-align: center;
    min-width: 200px;
    display: inline-block;
    cursor: pointer;
}

h3:hover {
    background: #ffffff;
    color: #333333;
}

audio {
    border: 1px solid black;
    margin: auto;
    display: block;
}

p {
    font-size: 25px;
    color: #333333;
}

h1, h3 {
    font-family: 'Frijole', cursive;
}

select {
    color: #333333;
    width: 500px;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

button > span {
    color: #333333;
}

button {
    width: 50px;
}

#coverPic {
    display: block;
    border-radius: 50%;
    animation: rot 5s infinite linear;
}

#coverPic2 {
    display: block;
    border-radius: 50%;
}

@keyframes rot {
    from {
        transform: rotate(0deg)
        rotate(180deg);
    }
    to {
        transform: rotate(180deg)
        rotate(360deg);
    }

}

#buttons {
    width: 300px;
    border: 1px solid #ffffff;
    text-align: center;
}

#login_form {
    padding: 5% 5%;
    width:25%;
    position: relative;
    left:150px;
    top:50px;
    border:1px solid white;
    border-radius: 3px;
    background: rgba(255,255,255,0.4);
}

#login_form h2 {
    position: absolute;
    top:-9%;
    left:0%;
    color: lightcoral;
}

#login_form label {
    display: block;
    float: left;
    width:250px;
    margin-right: 5%;
}
#login_form input {
    width:25%;
}
input[type=submit] {
    margin:5% 40%;
    width:50px;
    height: 30px;
    font-size: 105%;
    border-radius: 5px;
    display: block;
}

#hashtags {
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
    color: lightcyan;
    margin-left: 10px;
}

#hashtags li {
    display: inline-block;
    margin-left: 15px;
}

#playlists {
    margin-left: 10px;
}

#status {
    color: red;
}